<!DOCTYPE html>
<html>
<head>
    <!--
    <style>
        .foot{
            width: 100%;
            bottom: 0px;
            background-color: #17a2b8;
            color: #fff;
            position: absolute;
            padding-bottom: 2.5rem;
            padding-top:20px;
            text-align:center;
            font-size:30px;
            font-weight:bold;
        }
    </style>
    -->
</head>
<body>
<div th:fragment="footer">
    <div class="contact" style="height: 35vh;">
            <div class="row justify-content-center" style="margin-top: 2%;">
                <a href="https://www.instagram.com/stickersfor_charity/"; style="margin-top: 3%;">Follow us on instagram!</a>
            </div>
    </div>
</div>
</body>
</html>
