<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<div layout:fragment="metadata" th:remove="tag">
    <title>Donations</title>
    <style>
        html, body {
            background-image: url('https://media.istockphoto.com/photos/red-and-orange-sunset-over-dark-sea-picture-id464682328?k=20&m=464682328&s=612x612&w=0&h=keMNaL2ofj70eq5JB521HVvWEudnsGN8FKFTaP3OYPA=');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</div>

<div layout:fragment="content" th:remove="tag">
    <h1 class="titlehead">Donate</h1>
    <br>
    <br>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Enter amount in $USD</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <a href="#" class="btn btn-primary">Donate</a>
    </form>
</div>
</html>