<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Home</title>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="content" style="margin-left: 15%; margin-right: 15%;">
        <h1 class="titlehead">Events</h1>
        <div class="card-deck">
            <!-- <div class="card"> -->
                    <div class="card shadow-sm">
                        <div class="card-body" style="max-width: 18rem;">
                            <h5 class="card-title">Feeding America Fundraiser</h5>
                            <h6 class="card-subtitle mb-2 text-muted">12/20/21 to 1/27/22</h6>
                            <p class="card-text">Drew winter themed sticker designs and sold at Monterey Ridge,
                                Baskin Robbins, Sprouts, and Stone Ranch. Also had an online Google Form to place orders.
                                All proceeds went to Feeding America.</p>
                        </div>
                    </div>
            <!-- </div> -->
            <!-- <div class="card"> -->
                    <div class="card shadow-sm">
                        <div class="card-body" style="max-width: 18rem;">
                            <h5 class="card-title">OVMS Creative Arts Club meeting</h5>
                            <h6 class="card-subtitle mb-2 text-muted">05/06/21</h6>
                            <p class="card-text">Taught members of the OVMS Creative Arts Club about character drawing.</p>
                        </div>
                    </div>
        <!-- </div> -->
        <!-- <div class="card"> -->
                <div class="card shadow-sm">
                        <div class="card-body" style="max-width: 18rem;">
                            <h5 class="card-title">The A.C.E. Club Collab</h5>
                            <h6 class="card-subtitle mb-2 text-muted">05/05/21</h6>
                            <p class="card-text">Drew a drawing that inspires people to reach out
                                and help each other out and submitted it to The A.C.E. Club,
                                so they could use it to promote their club’s message about mental health.
                                </p>
                        </div>
                    </div>
                </div>
        <br>
            <div class="card-deck">
                <div class="card shadow-sm" style="max-width: 18rem;">
                        <div class="card-body" style="max-width: 18rem;">
                            <h5 class="card-title">Comic Drawing Workshop</h5>
                            <h6 class="card-subtitle mb-2 text-muted">04/12/21, 04/14/21, and 04/16/21</h6>
                            <p class="card-text">Organized a workshop to teach kids about comics.
                                Each workshop day included a mini-lesson about comics and live instruction to guide the
                                kids to sketch and color their own drawings. The sub-topics for each day were backgrounds,
                                cartoons, and coloring</p>
                        </div>
                    </div>
            <!-- </div> -->
            <!-- <div class="card"> -->
                <div class="card shadow-sm" style="max-width: 18rem;">
                        <div class="card-body" style="max-width: 18rem;">
                            <h5 class="card-title">Perspective Drawing Workshop</h5>
                            <h6 class="card-subtitle mb-2 text-muted">04/12/21, 04/14/21, and 04/16/21</h6>
                            <p class="card-text">Organized a workshop to teach kids about perspective drawing
                                . Workshop included a mini-lesson about perspective drawing and live instruction
                                to guide the kids to sketch and color their own perspective drawing</p>
                        </div>
                </div>
            </div>
        <script>
            ScrollReveal().reveal('.info', {
                interval: 16,
                reset: true,
                useDelay: 'onload'
            })
        </script>
        </div>
    </div>
</div>
</body>

</html>