<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Update Review</title>
</div></head>
<body><div layout:fragment="content" th:remove="tag">
    <h1 style="text-align: center; color: var(--secondary); margin-top: 20px;">Club Login</h1>
    <div class="login-box justify-content-center align-items-center">
        <textarea type="text" name="newrating" id="newrating" placeholder="type new review"></textarea>
        <button type="submit">UPDATE</button>
    </div>
</div>
</body>
</html>