<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Reviews</title>
    <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="content" style="margin-left: 15%; margin-right: 15%;">
        <h1 class="titlehead">Reviews</h1>
        <br>
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="card shadow-sm" style="background-color: var(--primary)">
                    <div class="card-body" style="background-color: var(--primary)">
                        <h6 class="card-text" style="color: var(--accents);">Billy</h6>
                        <p class="card-text" style="color: var(--body);">These stickers are epic!</p>
                        <a href="/" class="card-link">Update</a>
                        <a href="/" class="card-link">Delete</a>
                    </div>
                </div>
                <br>
                <div class="card shadow-sm" style="background-color: var(--primary)">
                    <div class="card-body" style="background-color: var(--primary)">
                        <h6 class="card-text" style="color: var(--accents);">Bob</h6>
                        <p class="card-text" style="color: var(--body);">These stickers are amazing!</p>
                        <a href="/" class="card-link">Update</a>
                        <a href="/" class="card-link">Delete</a>
                    </div>
                </div>
                <br>
                <div class="card shadow-sm" style="background-color: var(--primary)">
                    <div class="card-body" style="background-color: var(--primary)">
                        <h6 class="card-text" style="color: var(--accents);">Joe</h6>
                        <p class="card-text" style="color: var(--body);">These stickers are insane!</p>
                        <a href="/" class="card-link">Update</a>
                        <a href="/" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            ScrollReveal().reveal('.info', {
                interval: 16,
                reset: true,
                useDelay: 'onload'
            })
        </script>

    <!-- End of body content specific to page -->
    </div>
</div></body>
</html>