<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <title>Signup Success</title>
</div>

<!-- <body> -->
<div layout:fragment="content" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container">

        Congratulations! You are now an official club member of Del Norte Stickers for Charity.

    </div>
</div>

</html>