<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

    <div layout:fragment="metadata" th:remove="tag">
        <title>Sign Up</title>
    </div>

    <div layout:fragment="content" th:remove="tag">
        <h1 class="titlehead">Sign Up</h1>
        <br>
        <br>
        <div class="container bg-secondary py-4">
            <div class="p-5 mb-4 bg-light text-dark rounded-3">
                <form name="f" th:action="@{/signup}" method="POST">
                    <table>
                        <tr th:if="${param.error}" class="alert alert-error">
                            Invalid username and password.
                        </tr>
                        <tr th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </tr>
                        <!-- 'email' is mapped to 'username' for Spring Security -->
                        <tr><th><label for="username">Email</label></th></tr>
                        <tr><td><input type="email" id='username' name="username" size="20" required></td></tr>
                        <tr><th><label for="password">Password</label></th></tr>
                        <tr><td><input type="password" id="password" name="password" size="20" required></td></tr>
                        <tr><td><a th:href="@{/personcreate}" class="btn btn-primary">Sign Up</a></td></tr>

                    </table>
                </form>
            </div>
        </div>
    </div>
</html>