<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Sticker Sale</title>
</div></head>

<style>
    html, body {
        background-image: url('https://images.unsplash.com/photo-1543613949-95cd1b38a10e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="content" style="margin-left: 10%; margin-right: 10%;">
        <h1 class="titlehead">Sticker Sale</h1>
        <div class="card-deck" th:each="sticker : ${stickerList}" style="width: 18rem; height: 36rem; margin: 30px; display: inline-block;">
            <div class="card shadow-sm">
                <img class="card-img-top" th:src="@{${sticker.getPictURL()}}" style="width: 16rem; height: 18rem; object-fit:cover" alt="Card image cap">
                <div class="card-body" style="background-color: var(--primary);">
                    <h5 th:text="${sticker.getStickName()}" class="card-title"></h5>
                    <h6 th:text="${sticker.getPrice()}" class="card-subtitle mb-2 text-muted"></h6>
                    <p th:text="${sticker.getInfo()}" class="card-text"></p>
                </div>
            </div>
        <script>
            ScrollReveal().reveal('.info', {
                interval: 16,
                reset: true,
                useDelay: 'onload'
            })
        </script>
        </div>
    </div>
</div>
</body>

</html>