<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Club Members</title>
</div></head>
<body><div layout:fragment="content" th:remove="tag">
    <h1 style="text-align: center; color: var(--secondary); margin-top: 20px;">SFC Club Members!</h1>
    <div class="row align-items-md-stretch">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${list}">
                <td th:text="${member.name}">Name</td>
                <td th:text="${member.email}">Email</td>
                <td th:text="${member.grade}">Grade</td>
                <td>
                    <a th:href="@{/memberDelete/{id}(id = ${member.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div></body>
</html>