// redefine colors
$header: #ed6b40;
$accents: #ffe245;
$primary: #f19379;
$secondary: #F9873EFF;
$body: #000000;
$bg: #fff2a8;
$offset: 45%;

// redefine body background
//@import "../../../../../node_modules/bootstrap/scss/bootstrap";


@font-face {
  font-family: myFirstFont;
  src: url(glacialIndifference.ttf);
}

// setup default background
html, body {
  font-family: myFirstFont;
}

// setup dark mode styling
.dark-mode {
  $enable-gradients: true;

  /* redefine theme colors */
  $header: #376f85;
  $accents: #00acc1;
  $primary: #ffffff;
  $secondary: #85def0;
  $body: #fafefb;
  $bg: #3d5964;
  $offset: 5%;
  /* set background values */
  --#{$variable-prefix}bg: #{$bg};

  $theme-colors: (
          "header": $header,
          "accents": $accents,
          "primary": $primary,
          "secondary": $secondary,
          "body": $body,
          "bg": $bg,
          "offset": $offset,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  /* redefine theme theme-colors-rgb variables */
  //$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  //@import "../../../../../node_modules/bootstrap/scss/bootstrap";
}
